.icon {
  position: relative;
  top: 1rem;
  font-size: 1.8rem;
  display: right;
  margin-top: 1rem;
  padding: 0 3rem;
}

.fa-circle-user {
  margin: 0;
  padding-right: 2rem;
  top: 0;
  font-size: 2rem;
}

.home {
  position: fixed;
  left: 3%;
  top: 5%;
  font-size: 1.5rem;
  color: var(--color-white);
  z-index: 10;
}
