* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  list-style: none;
  color: var(--color);
}

a {
  text-decoration: none;
  color: var(--color);
  cursor: pointer;
}
/* HEADER */
.header__nav {
  position: relative;
  display: flex;
}

.header__nav_logo {
  margin: 0 2rem;
}

.logo {
  width: 10rem;
}

.header__nav_navig {
  position: relative;
  top: 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.navigation {
  display: inline-flex;
  margin: 1rem;
}

.navigation li {
  padding: 0 1rem;
  list-style-type: none;
}

.navigation li a {
  color: var(--color);
  text-decoration: none;
}

.header__nav_auth {
  /* border: 1px solid black; */
}

.header__main {
  position: relative;
  text-align: center;
  color: var(--color-white);
}

.header__main_wrapper {
  height: 70vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(179, 179, 179, 0.472),
      rgba(35, 34, 34, 0.87),
      rgba(0, 0, 0, 0.917)
    ),
    url(../images/img2.jpg);
  background-size: cover;
  background-position: center;
}

.header__main_heading {
  position: relative;
  top: 30%;
}

/* MAIN */
main {
  position: relative;
  background-color: var(--color-white);
  /* height: 95vh; */
}
.main__heading {
  position: relative;
  top: 18%;
}

.main__aboutus {
  position: relative;
  text-align: center;
  height: 120vh;
  color: var(--color-white);
  /* background-color: var(--color); */
  background-image: linear-gradient(var(--color), rgba(0, 0, 0, 0.968));
}

.main__article {
  position: relative;
  top: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.main__article_top {
  font-size: 1.5rem;
  /* width: 30rem; */
  padding: 1rem 7rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}
.main__article_bottom {
  margin-top: 3.2rem;
  padding: 0;
}

.main__article__top_p {
  text-align: center;
  padding: 1rem 0;
}

.main__article_bottom_img {
  width: 30rem;
  height: 20rem;
}

/* MAIN NEWS */
.main__news {
  position: relative;
  height: 80vh;
  background: var(--color-white);
  color: var(--color);
  padding-top: 8rem;
}

.main__news_header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.main__news_header_first {
  text-transform: uppercase;
}

.main__news_wrapper {
  width: 90%;
  margin: 5rem auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main__news_wrapper_box {
  padding: 1rem;
  width: 20rem;
}

.heading5 {
  text-transform: uppercase;
}

/* MAIN GALLERY */
.main__gallery {
  position: relative;
  height: 95vh;
  background-color: var(--color-white);
}

/* FOOTER */
footer {
  position: relative;
  height: 50vh;
  font-size: 19px;
  background-color: rgba(17, 16, 16, 0.916);
  background-image: linear-gradient(
    rgba(45, 44, 44, 0.957),
    rgba(17, 17, 17, 0.922)
  );
  font-family: "Noto Sans", sans-serif;
  color: var(--color-white);
}
.footer__wrapper_contacts {
  display: flex;
  justify-content: space-around;
  padding: 5rem 1rem;
}

.footer__wrapper_contacts_row {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03rem;
  text-align: left;
}

.pink {
  font-size: 21px;
  font-weight: 900;
  color: var(--color-pink);
  margin: 0.4rem 0;
}

.icons {
  width: 18rem;
  display: flex;
  justify-content: space-evenly;
}

.footer__wrapper_rights {
  text-align: center;
  font-size: 16px;
}
