* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  list-style: none;
  color: var(--color);
}

a {
  text-decoration: none;
  color: var(--color);
  cursor: pointer;
}
/* HEADER */
.header__nav {
  position: relative;
  display: flex;
}

.header__nav_logo {
  margin: 0 2rem;
}

.logo {
  width: 10rem;
}

.icon {
  cursor: pointer;
}
.header__nav_navig {
  position: relative;
  top: 1rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

.navigation {
  display: inline-flex;
  margin: 1rem;
}

.navigation li {
  padding: 0 1rem;
  list-style-type: none;
}

.navigation li a {
  color: var(--color);
  text-decoration: none;
}

.header__main {
  position: relative;
  text-align: center;
  color: var(--color-white);
}

.header__main_wrapper {
  height: 93vh;
  width: 100%;
  /* background-image: linear-gradient(
      rgba(179, 179, 179, 0.472),
      rgba(35, 34, 34, 0.483),
      rgba(0, 0, 0, 0.805)
    ),
    url(../images/img2.jpg); */
  background-image: linear-gradient(
      rgba(165, 165, 165, 0.434),
      rgba(51, 50, 50, 0.869),
      rgb(3, 3, 3)
    ),
    url(../images/img2.jpg);
  background-size: cover;
  background-position: center;
}

.header__main_heading {
  position: relative;
  top: 30%;
}

/* MAIN */
main {
  position: relative;
  background-color: var(--color-white);
}
.main__heading {
  position: relative;
  top: 18%;
}

/* ABOUT */
.main__aboutus {
  position: relative;
  text-align: center;
  height: 55vh;
  background-color: black;
  color: var(--color-white);
  /* background-image: linear-gradient(var(--color), rgba(0, 0, 0, 0.902)); */
  background-image: linear-gradient(rgb(2, 2, 2), rgba(29, 29, 29, 0.691));
}

.main__article {
  position: relative;
  top: 20%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.main__article_top {
  font-size: 1.5rem;
  /* width: 30rem; */
  padding: 1rem 7rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}
.main__article_bottom {
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: black;
}

.main__article__top_p {
  text-align: center;
  padding: 1rem 0;
}

.main__article_bottom_img {
  width: 33rem;
  height: 23rem;
  padding: 0;
  margin: 0;
}

/* MAIN NEWS */
.main__news {
  position: relative;
  height: 80vh;
  background: var(--color-white);
  color: var(--color);
  padding-top: 8rem;
}

.main__news_header {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3rem;
}

.main__news_header_first {
  text-transform: uppercase;
}

.main__news_wrapper {
  width: 90%;
  margin: 5rem auto;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.main__news_wrapper_box {
  padding: 1rem;
  width: 20rem;
}

.heading5 {
  text-transform: uppercase;
}

/* MAIN GALLERY */
.main__gallery {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  height: 50vh;
  padding: 0 35px;
}

.wrapper {
  max-width: 1200px;
  position: relative;
}

.wrapper i {
  position: absolute;
  top: 50%;
  height: 46px;
  width: 46px;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 46px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--color);
  color: var(--color-white);
  transform: translateY(-50%);
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.wrapper i:first-child {
  left: -23px;
  display: none;
}

.wrapper i:last-child {
  right: -23px;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

/* COMMENTS */
.comments {
  position: relative;
  height: 95vh;
  background-color: rgba(0, 0, 0, 0.582);
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.comments__header {
  padding: 2rem 0;
}

.comments__input {
  position: relative;
}

.comments__input textarea {
  padding: 15px 15px;
  width: 40%;
}

.comments__section_comment_photo img {
  width: 90px;
  border-radius: 100%;
}

form {
  display: flex;
  flex-direction: column;
  color: var(--color);
  padding: 3rem;
  align-items: center;
}

form .button,
.subscription__main .button {
  margin: 2rem 0;
  font-size: 0.8rem;
  padding: 0;
  color: black;
}

.comments__section {
  text-align: center;
  max-height: 20rem;
  margin: 0 auto;
  width: 45%;
  overflow: auto;
}

.comments__section_comment {
  position: relative;
  background-color: rgba(255, 255, 255, 0.455);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  margin: 0 auto;
}

.comments__section_comment_text {
  text-align: left;
  padding: 0 20px;
}

.comments__section_comment_text p {
  font-style: oblique;
  font-weight: 100;
  text-align: left;
  padding: 15px 0;
}

/* SUBSCRIPTION */
.subscription {
  position: relative;
  height: 65vh;
  text-align: center;
  padding-top: 5rem;
}

.subscription__title {
  position: relative;
  margin: 2rem 0;
}

.subscription__main {
  position: relative;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.subscription__main input {
  width: 60%;
  padding: 10px 20px;
}

/* WORKS */
/* .works {
  position: relative;
  height: 90vh;
  background-color: rgba(36, 36, 36, 0.748);
} */

/* MODAL */

.modal_window {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  width: 100%;
  height: 100%;
  /* background-color: black; */
  backdrop-filter: blur(3px);
  transition: all 3s;
}

.modal_window__wrapper {
  position: relative;
  background-color: white;
  margin: 0 auto;
  width: 25rem;
  height: 60%;
  top: 20%;
  border-radius: 10px;
}
.modal_button {
  font-size: 16px;
  margin: 1.5rem 0;
  color: black;
  letter-spacing: normal;
  height: 50px;
  width: 200px;
  line-height: 50px;
}

.sign {
  position: relative;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: 200;
}

.sign span {
  padding-right: 10px;
}

.fa-xmark {
  position: relative;
  left: 83%;
  font-size: 1.8rem;
  top: 5px;
  padding: 1rem 20px;
  cursor: pointer;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 3rem auto;
  width: 18rem;
}

.sign_up input,
.enter input {
  padding: 7px;
  border-radius: 5px;
  margin: 15px 0;
  width: 18rem;
  left: -100px;
}

.sign_up input:focus,
.enter input:focus {
  background-color: rgba(29, 29, 29, 0.115);
  color: black;
}

.sign_up_wrapper,
.enter_wrapper {
  text-align: center;
}

.sign_up_wrapper span,
.enter_wrapper span {
  display: block;
  padding-bottom: 10px;

  font-weight: 800;
}

.sign_up {
  display: block;
}

.enter {
  display: none;
}

/* FOOTER */
footer {
  position: relative;
  height: 50vh;
  font-size: 19px;
  /* background-image: linear-gradient(
    rgba(45, 44, 44, 0.957),
    rgba(17, 17, 17, 0.922)
  ); */
  background-color: rgba(33, 32, 32, 0.884);
  font-family: "Noto Sans", sans-serif;
  color: var(--color-white);
}
.footer__wrapper_contacts {
  display: flex;
  justify-content: space-around;
  padding: 5rem 1rem;
}

.footer__wrapper_contacts_row {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.03rem;
  text-align: left;
}

.pink {
  font-size: 21px;
  font-weight: 900;
  color: var(--color-pink);
  margin: 0.4rem 0;
}

.icons {
  width: 18rem;
  display: flex;
  justify-content: space-evenly;
}

.footer__wrapper_rights {
  text-align: center;
  font-size: 16px;
}
